@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

.musical_wrap {
  width: 1200px;
  margin: auto;
  /* background-color: rgb(245, 245, 245); */
  display: flex;
  gap: 20px;
}
.musical_wrap > li {
  width: calc(100% / 4);
}
/* 이미지 영역 */
.ticket-img {
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
/* 그라데이션 넣기 */
.ticket-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 70%, rgba(85, 85, 84, 0.7));
}
.ticket-img img {
  display: block;
  width: 100%;
}
.rank {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
}
/* 설명 영역 */
.ticket-info {
  padding: 20px 10px;
  /* background-color: #ccc; */
}
.ticket-info-list > .title {
  margin-bottom: 8px;
}
.ticket-info-list > .place {
  font-size: 15px;
  color: #000000;
  margin-bottom: 2px;
}
.ticket-info-list > .date {
  font-size: 15px;
  color: #999999;
  margin-bottom: 9px;
}
.ticket-info-list > .sell {
  width: 70px;
  padding: 4px 8px;
  border-radius: 7px;
  text-align: center;
  background-color: rgba(65, 84, 255, 0.08);
  color: #4154ff;
  font-weight: 700;
  font-size: 14px;
}
.ticket-info-list > .seat {
  width: 70px;
  padding: 4px 8px;
  border-radius: 7px;
  text-align: center;
  background-color: #f4f4f5;
  color: #7e7e81;
  font-weight: 700;
  font-size: 14px;
}
